body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

video, canvas {
  width: 480px;
  border-radius: 12px;
  margin-top: 20px;
}

#output {
  font-size: 60px;
  margin-top: 20px;
  color: #38bdf8;
  font-weight: bold;
}
