#word, #sentence {
  font-size: 28px;
  margin: 10px;
  color: #a5f3fc;
}

.controls button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#confidence {
  font-size: 24px;
  color: #4ade80;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

video, canvas {
  width: 480px;
  border-radius: 12px;
  margin-top: 20px;
}

#output {
  font-size: 60px;
  margin-top: 20px;
  color: #38bdf8;
  font-weight: bold;
}
